<!DOCTYPE html>
<!-- 
	HTML info
	1. file path	: /templates/index.html
	2. project name	: yumi korea Admin
	3. description	: 로그인
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/plugin"></th:block>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>::: YUMI KOREA Web Admin :::</title>
</head>
<script th:inline="javascript">
	
	$(function(){
		
		$('#orgPw').focus();
		
		// 비밀번호 CapsLock 체크
		checkCapsLock("orgPw");
		checkCapsLock("newPw");
		checkCapsLock("newPwChk");
		
		window.addEventListener("keyup", function(e){
			// enter
			if ( e.keyCode == 13 ) {
				document.querySelector(".btn_login_blu").click();
			} 
		});
		
	})
	
	function chkPw(){
		if( $( "#orgPw" ).val() == "" ) {
			alert( "현재 비밀번호를 입력하세요." );
			return false;
		}
		
		if( $( "#newPw" ).val() == "" ) {
			alert( "새 비밀번호를 입력하세요." );
			return false;
		}
		
		if( $( "#newPwChk" ).val() == "" ) {
			alert( "비밀번호 확인을 입력하세요." );
			return false;
		}
		
		if( $( "#newPw" ).val() != $( "#newPwChk" ).val() ) {
			alert( "새 비밀번호/비밀번호 확인이 일치하지 않습니다." );
			return false;
		}
		
				
		if(!checkPassword($("#newPw").val())){
			alert("비밀번호는 숫자, 영문 대소문자, 특수문자의 조합(2가지 이상) 8~20자로 입력하세요.");
			return false;
		}
		
		updateInitPw();
	}
	
	
	function updateInitPw() {
		let loginInfo = getLoginInfo();
		let sessionId = loginInfo.sessionId;
		let loginId = loginInfo.loginId;
		let orgPw = document.getElementById("orgPw").value;
		let newPw = document.getElementById("newPw").value;

		let data = {
			loginId: loginId
			,orgPw : encodePassword(loginId, orgPw, sessionId)
			,newPw : newPw
		};
		
		$.ajax({
			url: "/common/updateInitPw",
			type: "put",
			data : JSON.stringify(data),
			contentType: "application/json; charset=UTF-8",
			success: function( data ){
				if( data.status == "success" ) {
					successPopup(data.message, "/login");
				} else {
					alertPopup(data.message);
				}
			}
		});
		
	}
</script>
<body>
	
 	<div class="login_wrap">
        <div class="login_area">
            <div class="login_box">
                <div class="login_tit"><span class="txt_bold">초기 비밀번호 설정</span><br/></div>
                <div class="input_wrap02">
                    <input type="password" class="input_box" placeholder="현재비밀번호를 입력하세요." id="orgPw" name="orgPw" title="비밀번호"  maxlength="30"/>
                    <input type="password" class="input_box" placeholder="숫자, 영문 대소문자, 특수문자의 조합(2가지 이상) 8~20자로 입력하세요." id="newPw" name="newPw" title="비밀번호"  maxlength="30"/>
                    <input type="password" class="input_box" placeholder="비밀번호 확인을 입력하세요." id="newPwChk" name="newPwChk" title="비밀번호"  maxlength="30"/>
                </div>
                	<input style="cursor: pointer;" type="button" value="확인" class="btn_login_blu" onclick="return chkPw()" />
                <div id="capsWarning" style="display:none;"><font color="red">* Caps Lock is on.</font></div>
            </div>
        </div>
    </div>
    
</body>
</html>