<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="updateService" class="modal-box-change">
	<div class="modal_header"><a class="js-modal-close-change pop_close" style='cursor:pointer'><i class="la la-close"></i></a>
		<p class="modal_tit" style="text-align: center;">서비스 상세</p>
	</div>
	<div class="modal_body">
		<input type="hidden" id="detSvCode" name="detSvCode" />
		<input type="hidden" id="detScCode" name="detScCode" />
		<table class="dt_tbl03">
			<colgroup>
				<col class="dt_tbl_width30">
				<col class="dt_tbl_width70">
			</colgroup>
			<tbody>
				<tr>
					<td class="dt_tbl_col_th02">서비스명</td>
					<td><input type="text" class="width_300 input_txt" name="detSvcName" id="detSvcName" value="service01" onkeyup="chkCharCode(event)" /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">서버명</td>
					<td id="detSvName"></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">설명</td>
					<td><textarea class="tb_result textarea" name="detSvcDesc" id="detSvcDesc" cols="20" rows="5" style="resize:none;" maxlength="4000" onkeyup="chkCharCode(event)" >서비스 설명</textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal_footer">
		<div class="modal_footer_box">
			<!-- ~ button -->
			<div class="pop_btn_one width_100">
				<a href="javascript:;" onclick="goUpdate()">수정</a>
			</div>
			<div class="pop_btn_cancle width_100 js-modal-close-change">
				<a href="#">취소</a>
			</div>
			<!-- button ~ -->
        </div>
    </div>
</div>
</html>