<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/service/serviceList.html
		2. project name	: yumi korea Admin
		3. description	: 서비스 관리 > 목록  
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/layout/header"></th:block>
<!-- 프로그램별 script 추가 -->
<script type="text/javascript" th:src="@{/js/views/serviceJs.js}"></script> 

<!-- Content : S -->
<div id="con_wrap"><div class="con_box_flex"><div class="flex_wrap">
	<!-- Search Area : S -->
	<div class="con_search_area"><div class="con_menu_search_wrap03">
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">검색</span>
		</div>
		<form th:action="@{/service/list}" method="get">
		<div class="searchWrap">
			<!-- 서비스명 -->
			<span class="sw_tit w70">서비스명 </span> 
			<input type="text" class="width_200 input_txt" placeholder="서비스명을 입력하세요" 
				name="srcScName" id="srcScName" th:value="${srcKeyword.srcScName}" onkeyup="chkCharCode(event)" > 
			<!-- 서버코드 -->
			<span class="sw_tit w70">서버코드 </span> 
			<input type="text" class="width_200 input_txt" placeholder="서버코드를 입력하세요" 
				name="srcSvCode" id="srcSvCode" th:value="${srcKeyword.srcSvCode}" onkeyup="chkCharCode(event)" > 
			<!-- 서버명 -->
			<span class="sw_tit w70">서버명 </span> 
			<input type="text" class="width_200 input_txt" placeholder="서버명을 입력하세요" 
				name="srcSvName" id="srcSvName" th:value="${srcKeyword.srcSvName}" onkeyup="chkCharCode(event)" > 
		</div>
		<br />
		<div class="searchWrap">
			<!-- 등록관리자 -->
			<span class="sw_tit w70">등록관리자 </span> 
			<input type="text" class="width_200 input_txt" placeholder="등록 관리자를 입력하세요"
				name="srcScCreator" id="srcScCreator" th:value="${srcKeyword.srcScCreator}" onkeyup="chkCharCode(event)" > 
			<!-- 등록일자 -->
			<span class="sw_tit w70">등록일자</span>
			<div class="width_700 sch_tbl_con">
				<span class="width_46p sch_tbl_input_date">
					<input type="text" class="S_date_month" name="srcFrom" id="srcFrom" th:value="${srcKeyword.srcFrom}" oninput="this.value = this.value.replace(/[^0-9-]/g, '');">
                    <!-- datepicker opne button tag -->
					<div class="btn-calender" ></div>
				</span>
				<span class="sch_tbl_input_date_txt range">~</span> 
				<span class="width_46p sch_tbl_input_date">
					<input type="text" class="E_date_month" name="srcTo" id="srcTo" th:value="${srcKeyword.srcTo}" oninput="this.value = this.value.replace(/[^0-9-]/g, '');">
                    <div class="btn-calender" ></div>
				</span>
			</div>
			<div class="btn_area">
				<button>
					<span class="width_100 btn_blu"><i class="la la-search"></i>조회</span>
				</button>
			</div>	
		</div>
		</form>
	</div></div>
	<!-- Search Area : E -->
	
	<!-- List Area : S -->
	<div class="con_sub_wrap"><div class="con_sub_all_box">
		<!-- Title & Button : S -->
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">목록</span>
			<span class="btn_area_top">
				<a change-modal-id="registerService"><span class="width_100 btn_blu">등록</span></a> 
				<a th:onclick="|return goRegistry2Chk()|"><span class="width_100 btn_blu">추가 등록</span></a> 
				<a href="javascript:;" onclick="goDelete()" ><span class="width_100 pop_btn_red">삭제</span></a>
			</span>
		</div>
		<!-- Title & Button : E -->
		<!-- Data Table : S -->
		<div class="con_tb_area"><div class="con_menu_tb_wrap">
			<table id="tableData" class="dt_tbl">
				<colgroup>
					<col style="width:5%;">
					<col style="width:10%;">
					<col style="width:10%;">
					<col style="width:10%;">
					<col style="width:20%;">
					<col style="width:20%;">
					<col style="width:20%;">
					<col style="width:5%;">
				</colgroup>
				<thead>
					<tr>
						<th class="list_chk_box">
							<input type="checkbox" th:id="allCheckBox" th:onclick="allChecked()" />
							<label th:for="allCheckBox"><span></span></label>
						</th>
						<th>서비스 코드</th>
						<th>서비스명</th>
						<th>서버 코드</th>
						<th>서버명</th>
						<th>등록 관리자 ID</th>
						<th>등록일</th>
						<th>상태</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if = "${list == null}">
						<tr>
							<td colspan="8">데이터가 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:if = "${list != null}">
					</th:block>
					<th:block th:each="item : ${list}">
						<tr change-modal-id="updateService" th:onclick="goDetail([[${item}]])">
							<td class="list_chk_box" onclick="event.cancelBubble=true">
								<input type="checkbox" th:id="${item.scCode + '_chk'}" name="chk" class="chk" th:onclick="chkClicked()" 
														th:svCode="${item.svSeqId}" th:scCode="${item.scCode}" th:svName="${item.svName}" />
								<label th:for="${item.scCode + '_chk'}"><span></span></label>
							</td>
							<td th:text = "${item.scCode}"></td>
							<td th:text = "${item.scName}"></td>
							<td th:text = "${item.svSeqId}"></td>
							<td th:text = "${item.svName}"></td>
							<td th:text = "${item.scCreator}"></td>
							<td th:text = "${item.scCreDate}"></td>
<!-- 							<td th:text = "${#dates.format(item.scCreDate, 'yyyy-MM-dd HH:mm:ss')}"></td> -->
							<td th:text = "${item.svState}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<!-- paging.html -->
	<th:block th:include="common/paging"></th:block>
		</div>
		<!-- Data Table : E -->
	</div></div>
	<!-- List Area : E -->
</div></div></div>
<!-- Content : E -->

<th:block th:include="service/serviceRegistration"></th:block>
<th:block th:include="service/serviceDetail"></th:block>
<th:block th:include="common/layout/footer"></th:block>
</html>