<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/service/serviceRegistration.html
		2. project name	: yumi korea Admin
		3. description	: 서비스 관리 > 등록  
 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- register pop up : S -->
<div id="registerService" class="modal-box-change">
	<div class="modal_header"><a class="js-modal-close-change pop_close" style='cursor:pointer'><i class="la la-close"></i></a>
		<p class="modal_tit" style="text-align: center;">서비스 등록</p>
	</div>
	<div class="modal_body">
		<table class="dt_tbl03">
			<colgroup>
				<col class="dt_tbl_width30">
				<col class="dt_tbl_width70">
			</colgroup>
			<tbody>
				<tr>
					<td class="dt_tbl_col_th02">서비스명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="text" class="width_300 input_txt" name="regScName" id="regScName" placeholder="서비스명을 입력하세요." onkeyup="chkCharCode(event)" /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">서버명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="text" class="width_300 input_txt" name="regSvName" id="regSvName" placeholder="서버명을 입력하세요." onkeyup="chkCharCode(event)" /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">설명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><textarea class="tb_result textarea" name="regScDesc" id="regScDesc" cols="20" rows="5" style="resize:none;" maxlength="4000" placeholder="설명을 입력하세요." onkeyup="chkCharCode(event)" ></textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal_footer">
		<div class="modal_footer_box">
			<!-- ~ button -->
			<div class="pop_btn_one width_100">
				<a href="javascript:goRegistry();">등록</a>
			</div>
			<div class="pop_btn_cancle width_100 js-modal-close-change">
				<a href="#">취소</a>
			</div>
			<!-- button ~ -->
        </div>
    </div>
</div>
<!-- register pop up : E -->
<!-- register2 pop up : S -->
<div id="registerService2" class="modal-box-change">
	<div class="modal_header"><a class="js-modal-close-change pop_close" style='cursor:pointer'><i class="la la-close"></i></a>
		<p class="modal_tit" style="text-align: center;">서비스 추가 등록</p>
	</div>
	<div class="modal_body">
		<table class="dt_tbl03">
			<colgroup>
				<col class="dt_tbl_width30">
				<col class="dt_tbl_width70">
			</colgroup>
			<tbody>
				<tr>
					<td class="dt_tbl_col_th02">서비스명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="text" class="width_300 input_txt" name="regScName2" id="regScName2" placeholder="서비스명을 입력하세요." onkeyup="chkCharCode(event)" /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">서버명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="text" class="width_300 input_txt" name="regSvName2" id="regSvName2" value="서버선택후등록" readonly /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">설명</td>
					<td><textarea class="tb_result textarea" name="regScDesc2" id="regScDesc2" cols="20" rows="5" style="resize:none;" maxlength="4000" placeholder="서비스 설명을 입력하세요." onkeyup="chkCharCode(event)" ></textarea></td>
				</tr>
			</tbody>
		</table>
	</div>
	<input type="hidden" name="regSvCode2" id="regSvCode2" value="" />
	<div class="modal_footer">
		<div class="modal_footer_box">
			<!-- ~ button -->
			<div class="pop_btn_one width_100">
				<a href="javascript:goRegistry2();">등록</a>
			</div>
			<div class="pop_btn_cancle width_100 js-modal-close-change">
				<a href="#">취소</a>
			</div>
			<!-- button ~ -->
        </div>
    </div>
</div>
<!-- register2 pop up : E -->
</html>