<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/admin/menuDetail.html
		2. project name	: yumi korea Admin
		3. description	: 감사로그 > Admin 감사로그 > 상세(팝업)  
 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
	#instruction {
		height: 10px;
	    font-size: 12px;
	    text-align: right !important;
	    font-weight: 300;
	}
	
</style>
<div id="announceDetail" class="modal-box-change" style="width:700px;">
	<div class="modal_header"><a class="js-modal-close-change pop_close" style='cursor:pointer'><i class="la la-close"></i></a>
		<p class="modal_tit" id="detailTitle" style="text-align: center;">공지사항 등록</p>
	</div>
	<div class="modal_body">
		<table class="dt_tbl06">
			<colgroup>
				<col class="dt_tbl_width800">
			</colgroup>
				<tr>
					<td>
						<textarea id="announceContent" rows="10" cols=""></textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal_footer">
		<div class="modal_footer_box">
			<!-- ~ button -->
			<div class="pop_btn_one width_100">
				<a id="detailRegist" href="#" onclick="goRegist()">등록</a>
			</div>
			<div class="pop_btn_one width_100">
				<a id="detailUpdate" href="#" onclick="goUpdate()">수정</a>
			</div>
			<div class="pop_btn_one_red width_100" style="background-color: #DF696C;">
				<a onclick="javascript:goDelete()" id="deleteBtn" button-type="DELETE" >삭제</a>
			</div>
<!-- 			    color: rgb(255, 255, 255); -->
<!--     text-align: center; -->
<!--     font-size: 14px; -->
<!--     margin: 0px 0px 0px 4px; -->
<!--     padding: 0px 14px; -->
<!--     border-width: 1px; -->
<!--     border-style: solid; -->
<!--     border-color: #DF696C; -->
<!--     border-image: initial; -->
<!--     border-radius: 2px; -->
    
			<div class="pop_btn_cancle width_100 js-modal-close-change">
				<a href="#">취소</a>
			</div>
			<!-- button ~ -->
        </div>
    </div>
</div>
</html>