<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/announce/announceList.html
		2. project name	: Magic KMS Admin
		3. description	: 감사로그 > Admin 감사로그 > 목록  
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<th:block th:include="common/layout/header"></th:block>
<!-- 프로그램별 script 추가 -->
<script type="text/javascript" th:src="@{/js/views/announceJs.js}"></script> 
<!-- Content : S -->
<div id="con_wrap"><div class="con_box_flex"><div class="flex_wrap">
	<!-- Search Area : S -->
	<div class="con_search_area"><div class="con_menu_search_wrap03">
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">검색</span>
		</div>
		<form th:action="@{/announce/list}" method="get">
		<div class="searchWrap">
			<span class="sw_tit w70">작성자</span> 
			<input type="text" class="width_200 input_txt" placeholder="작성자 ID를 입력하세요" 
				id="srcAdminId" name="srcAdminId" th:value="${srcKeyword.srcAdminId}"> 
			<span class="sw_tit w70">제목</span> 
			<input type="text" class="width_200 input_txt" placeholder="제목을 입력하세요" 
				id="srcAnnounceObject" name="srcAnnounceObject" th:value="${srcKeyword.srcAnnounceObject}"> 
		</div>
		<br />
		<div class="searchWrap">
			<span class="sw_tit w70">일자</span>
			<div class="width_700 sch_tbl_con">
				<span class="width_46p sch_tbl_input_date">
					<input type="text" class="S_date_month" name="srcFrom" id="srcFrom" th:value="${srcKeyword.srcFrom}"
						oninput="this.value = this.value.replace(/[^0-9-]/g, '');">
                    <!-- datepicker opne button tag -->
					<div class="btn-calender" ></div>
				</span>
				<span class="sch_tbl_input_date_txt range">~</span> 
				<span class="width_46p sch_tbl_input_date">
					<input type="text" class="E_date_month" name="srcTo" id="srcTo" th:value="${srcKeyword.srcTo}"
						oninput="this.value = this.value.replace(/[^0-9-]/g, '');">
                    <div class="btn-calender" ></div>
				</span>
			</div>
			<div class="btn_area">
				<button th:onclick="|return goList()|">
					<span class="width_100 btn_blu"><i class="la la-search"></i>조회</span>
				</button>
			</div>
		</div>
		</form>
	</div></div>
	<!-- Search Area : E -->
	
	<!-- List Area : S -->
	<div class="con_sub_wrap"><div class="con_sub_all_box">
		<!-- Title & Button : S -->
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">목록</span>
			<span class="btn_area_top">
				<a change-modal-id="announceDetail" onclick="javascript:openRegistPopup()" button-type="POST"><span class="width_100 btn_grn">등록</span></a>
			</span>
		</div>
		<!-- Title & Button : E -->
		<!-- Data Table : S -->
		<div class="con_tb_area">
			<div class="con_menu_tb_wrap">
				<table id="tableData" class="dt_tbl">
					<colgroup>
						<col style="width:10%;">
						<col style="width:10%;">
						<col style="width:60%;">
						<col style="width:10%;">
						<col style="width:10%;">
					</colgroup>
					<thead>
						<tr>
							<th>No</th>
							<th>작성자</th>
							<th>제목</th>
							<th>등록일</th>
							<th>조회</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="item : ${resultMap}">
							<tr change-modal-id="announceDetail" th:onclick="goDetail([[${item}]])" >
								<td th:text = "${item.announceId}"></td>
								<td th:text = "${item.adminId}"></td>
								<td th:text = "${item.announceObject}"></td>
								<td th:text = "${item.reigistDate}"></td>
								<td th:text = "${item.announceCount}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<!-- paging.html -->
			<th:block th:include="common/paging"></th:block>
		</div>
		<!-- Data Table : E -->
	</div></div>
	<!-- List Area : E -->
</div></div></div>
<!-- Content : E -->
<th:block th:include="announce/announceDetail"></th:block>
<th:block th:include="common/layout/footer"></th:block>
</html>