<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/authority/authorityList.html
		2. project name	: yumi korea Admin
		3. description	: 환경설정 > 권한 관리 > 목록  
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<!-- 프로그램별 script 추가 -->
<style>
	#con_wrap > div > div > div:nth-child(1) > span.con_tit_nav > span, i {
		cursor: pointer;
	}
</style>

<!-- Content : S -->
	<div class="flex_wrap">
		<!-- Search Area : S -->
		<div class="con_search_area">
			<div class="con_menu_search_wrap03">
				<div class="con_sub_tit_wrap">
					<span class="con_sub_tit">권한의 허가 메뉴 검색</span>
				</div>
				<div class="searchWrap">
					<span class="sw_tit w100">선택된 권한명</span> 
					<input type="text" class="width_200 input_txt" placeholder="선택된 권한이 없습니다." id="selected_authorityId" name="" readonly>
					<span class="sw_tit w70">메뉴명</span> 
					<input type="text" class="width_200 input_txt" placeholder="메뉴명을 입력하세요" name="" id="search_menuName"> 
						<div class="btn_area">
						<button onclick="javascript:getListAuthorityUrl(1);">
							<span class="width_100 btn_blu"><i class="la la-search"></i>조회</span>
						</button>
					</div> 
				</div>
			</div>
		</div>
	<!-- Search Area : E -->
	<!-- List Area : S -->
	<div class="con_sub_wrap"><div class="con_sub_all_box">
		<!-- Title & Button : S -->
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">권한의 허가 메뉴 목록</span>
			<span class="btn_area_top">
				<a id="btn_updateUrl" onclick="javascript:updateMenuUrl()" button-type="PUT"><span class="width_100 btn_blu">수정</span></a>
				<a id="btn_registUrl" change-modal-id="registMenuUrl" onclick="javascript:registMenuUrl()" button-type="POST">
					<span class="width_100 btn_grn">등록</span>
				</a>
				<a id="btn_deleteUrl" onclick="javascript:deleteMenuUrl()" button-type="DELETE"><span class="width_100 btn_redd">삭제</span></a>
			</span>
		</div>
		<!-- Title & Button : E -->
				<!-- Data Table : S -->
		<div class="con_tb_area">
			<table id="tableData" class="dt_tbl">
				<colgroup>
					<col style="width: 7%;">
					<col style="width: 15%;">
					<col style="width: 15%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
		                <th class="list_chk_box">
							<input type="checkbox" th:id="allCheckBox" th:onclick="allChecked()" />
							<label th:for="allCheckBox"><span></span></label>
						</th>
						<th>권한명</th>
						<th>메뉴명</th>
						<th>조회</th>
						<th>등록</th>
						<th>수정</th>
						<th>삭제</th>
						<th>업로드</th>
						<th>다운로드</th>
					</tr>
				</thead>
				<tbody id="authorityUrlTable">
<!--						<tr>-->
<!--							<td colspan="8">데이터가 없습니다.</td>-->
<!--						</tr>-->
							<tr>
								<td class="list_chk_box" onclick="event.cancelBubble=true">
									<input type="checkBox" id="chk_" name="chk" class="chk"/>
									<label for="chk_"><span></span></label>
								</td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
								<td text = ""></td>
							</tr>
				</tbody>
			</table>
			<!-- paging.html -->
			<div id="page_authorityUrl">
				<th:block th:include="common/paging_script"></th:block>
			</div>
		</div>
		<!-- Data Table : E -->
	</div></div>
	<!-- List Area : E -->
</div>
<th:block th:include="authority/authorityUrlDetail"></th:block>
</html>