<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/user/userRegistration.html
		2. project name	: yumi korea Admin
		3. description	: 사용자 관리 > 등록  
 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="registerUser" class="modal-box-change" style="width:800px;">
	<div class="modal_header"><a class="js-modal-close-change pop_close" style='cursor:pointer'><i class="la la-close"></i></a>
		<p class="modal_tit" style="text-align: center;">사용자 등록</p>
	</div>
	<div class="modal_body">
		<table class="dt_tbl03">
			<colgroup>
				<col class="dt_tbl_width20">
				<col class="dt_tbl_width30">
				<col class="dt_tbl_width20">
				<col class="dt_tbl_width30">
			</colgroup>
			<tbody>
				<tr>
					<td class="dt_tbl_col_th02">ID<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td>
						<input type="text" class="width_200 input_txt" name="regUserId" id="regUserId" placeholder="아이디를 입력하세요." onkeyup="chkCharCode(event)" />
					</td>
					<td class="dt_tbl_col_th02">이름<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td>
						<input type="text" class="width_200 input_txt" name="regUserName" id="regUserName" placeholder="이름을 입력하세요." onkeyup="chkCharCode(event)" />
					</td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">비밀번호<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="password" class="width_200 input_txt" name="regPw" id="regPw" placeholder="비밀번호를 입력하세요." /></td>
					<td class="dt_tbl_col_th02">비밀번호확인<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td><input type="password" class="width_200 input_txt" name="regPwChk" id="regPwChk" placeholder="비밀번호 확인을 입력하세요." /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">직급<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td>
						<input type="text" class="width_200 input_txt" name="regJobLevel" id="regJobLevel" placeholder="직급을 입력하세요." onkeyup="chkCharCode(event)" />
					</td>
					<td class="dt_tbl_col_th02">부서<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td>
						<input type="text" class="width_200 input_txt" name="regDepartTeam" id="regDepartTeam" placeholder="부서명을 입력하세요." onkeyup="chkCharCode(event)" />
					</td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">서비스명<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td>
						<span class="width_200 sch_tbl_select">
							<select name="regServiceName" id="regServiceName" style="width:200px;" th:onchange="changeSelect()"  class="styled require" >
								<th:block th:each="service : ${scList}">
									<option th:value="${service.svSeqId}" th:text="${service.scName}" 
											th:scCode="${service.scCode}" th:svName="${service.svName}" th:svCode="${service.svSeqId}" ></option>
									
								</th:block>
							</select>
						</span>
					</td>
					<td class="dt_tbl_col_th02">서비스 코드<span class="str_txt"></span></td>
					<td><input type="text" class="width_200 input_txt" name="regScCode" id="regScCode" readonly /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">서버명<span class="str_txt"></span></td>
					<td><input type="text" class="width_200 input_txt" name="regSvName" id="regSvName" readonly /></td>
					<td class="dt_tbl_col_th02">서버 코드<span class="str_txt"></span></td>
					<td><input type="text" class="width_200 input_txt" name="regSvCode" id="regSvCode" readonly /></td>
				</tr>
				<tr>
					<td class="dt_tbl_col_th02">이메일<span class="str_txt"><img src="/images/bullet02.png" /></span></td>
					<td colspan="3">
						<input type="text" class="width_550 input_txt" name="regEmail" id="regEmail" onkeyup="chkCharCodeForEmail(event)" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal_footer">
		<div class="modal_footer_box">
			<!-- ~ button -->
			<div class="pop_btn_one width_100">
				<a href="javascript:goRegistry();">등록</a>
			</div>
			<div class="pop_btn_cancle width_100 js-modal-close-change">
				<a href="#">취소</a>
			</div>
			<!-- button ~ -->
        </div>
    </div>
</div>
</html>