<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/user/userList.html
		2. project name	: yumi korea Admin
		3. description	: 환경 설정 > 사용자 관리 > 목록  
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/layout/header"></th:block>
<!-- 프로그램별 script 추가 -->
<script type="text/javascript" th:src="@{/js/views/userJs.js}"></script> 

<!-- Content : S -->
<div id="con_wrap"><div class="con_box_flex"><div class="flex_wrap">
	<!-- Search Area : S -->
	<div class="con_search_area"><div class="con_menu_search_wrap03">
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">검색</span>
		</div>
		<form th:action="@{/user/list}" method="get">
		<div class="searchWrap">
			<!-- 사용자아이디/이름 -->
			<span class="sw_tit">사용자ID/이름 </span> 
			<input type="text" class="width_200 input_txt" placeholder="아이디/이름를 입력하세요" 
				name="srcUserId" id="srcUserId" th:value="${srcKeyword.srcUserId}" onkeyup="chkCharCode(event)" > 
			<div class="btn_area">
				<button th:onclick="|return check()|">
					<span class="width_100 btn_blu"><i class="la la-search"></i>조회</span>
				</button>
			</div>	
		</div>
		</form>
	</div></div>
	<!-- Search Area : E -->
	
	<!-- List Area : S -->
	<div class="con_sub_wrap"><div class="con_sub_all_box">
		<!-- Title & Button : S -->
		<div class="con_sub_tit_wrap">
			<span class="con_sub_tit">목록</span>
			<span class="btn_area_top">
				<a change-modal-id="registerUser" onclick="javascript:if( $('#regScCode').val() == '' ) changeSelect()">
					<span class="width_100 btn_grn">등록</span>
				</a>
				<a href="javascript:;" onclick="goUpdateSt()"><span class="width_100 btn_blu">잠김 해제</span></a>
				<a href="javascript:;" onclick="goDelete()" ><span class="width_100 pop_btn_red">삭제</span></a>
			</span>
		</div>
		<!-- Title & Button : E -->
		<!-- Data Table : S -->
		<div class="con_tb_area"><div class="con_menu_tb_wrap">
			<table id="tableData" class="dt_tbl">
				<colgroup>
					<col style="width:5%;">
					<col style="width:10%;">
					<col style="width:10%;">
					<col style="width:15%;">
					<col style="width:10%;">
					<col style="width:15%;">
					<col style="width:25%;">
					<col style="width:10%;">
				</colgroup>
				<thead>
					<tr>
						<th class="list_chk_box">
							<input type="checkbox" th:id="allCheckBox" th:onclick="allChecked()" />
							<label th:for="allCheckBox"><span></span></label>
						</th>
						<th>ID</th>
						<th>이름</th>
						<th>이메일</th>
						<th>서버 코드</th>
						<th>서버명</th>
						<th>등록일</th>
						<th>상태</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if = "${list == null}">
						<tr>
							<td colspan="9">데이터가 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:if = "${list != null}">
						<th:block th:each="item : ${list}">
							<tr change-modal-id="updateUser" th:onclick="goDetail([[${item}]])" >
								<td class="list_chk_box" onclick="event.cancelBubble=true">
									<input type="checkbox" th:id="${item.userId + '_chk'}" name="chk" class="chk" th:onclick="chkClicked()" 
											th:userId="${item.userId}" th:userState="${item.stateNm}" />
									<label th:for="${item.userId + '_chk'}"><span></span></label>
								</td>
								<td th:text = "${item.userId}"></td>
								<td th:text = "${item.userName}"></td>
								<td th:text = "${item.email}"></td>
								<td th:text = "${item.servInfoSeqId}"></td>
								<td th:text = "${item.servInfoName}"></td>
								<td th:text = "${item.creDate}"></td>
								<td th:text = "${item.stateNm}"></td><!-- 상태(정상/잠김) -->
							</tr>
						</th:block>
					</th:block>
				</tbody>
			</table>
		</div>
		<!-- paging.html -->
	<th:block th:include="common/paging"></th:block>
		</div>
		<!-- Data Table : E -->
	</div></div>
	<!-- List Area : E -->
</div></div></div>
<!-- Content : E -->

<th:block th:include="user/userRegistration"></th:block>
<th:block th:include="user/userDetail"></th:block>
<th:block th:include="common/layout/footer"></th:block>
</html>