@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 400;
 src: url(../fonts/NanumBarunGothicSubset.eot);
 src: url(../fonts/NanumBarunGothicSubset.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicSubset.woff2) format('woff2'),
      url(../fonts/NanumBarunGothicSubset.woff) format('woff'),
      url(../fonts/NanumBarunGothicSubset.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 700;
 src: url(../fonts/NanumBarunGothicBoldSubset.eot);
 src: url(../fonts/NanumBarunGothicBoldSubset.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicBoldSubset.woff2) format('woff2'),
      url(../fonts/NanumBarunGothicBoldSubset.woff) format('woff'),
      url(../fonts/NanumBarunGothicBoldSubset.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 300;
 src: url(../fonts/NanumBarunGothicLightSubset.eot);
 src: url(../fonts/NanumBarunGothicLightSubset.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicLightSubset.woff2) format('woff2'),
      url(../fonts/NanumBarunGothicLightSubset.woff) format('woff'),
      url(../fonts/NanumBarunGothicLightSubset.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumBarunGothic';
 font-weight: 200;
 src: url(../fonts/NanumBarunGothicUltraLightSubset.eot);
 src: url(../fonts/NanumBarunGothicUltraLightSubset.eot?#iefix) format('embedded-opentype'),
      url(../fonts/NanumBarunGothicUltraLightSubset.woff2) format('woff2'),
      url(../fonts/NanumBarunGothicUltraLightSubset.woff) format('woff'),
      url(../fonts/NanumBarunGothicUltraLightSubset.ttf) format('ttf');
}
