/* lnb */
#lnb {position: relative; position:relative;-webkit-transition:all .4s;transition:all .4s;}
#lnb ul li:last-child{padding:5px 0 0 0;}

#lnb > ul > li:hover{background-color:#242C37;
	border-left:5px solid #0882D6;
}

#lnb ul li.on .side_btn01 button{  background: #0882D6; border:1px solid #B4CAD9; color:#B4CAD9;}
#lnb ul li.on .side_btn01 button:hover{  background: #0882D6; border:1px solid #fff; color:#fff;}
#lnb > ul > li > a {display:inline-block; padding:14px 20px 14px 20px; color:#B0B0B6;}
#lnb > ul > li img{
width: 18px;margin-left: 3px;}
#lnb .lnbdepth>li{
 border-left: 0;
}



/* report  */
#lnb > ul > li > a:hover {color:#fff; }
#lnb > ul > li > a.on {color:#fff; }
#lnb > ul > li > a i {font-size:22px }

#lnb > ul > li > a span.nav_arrow{ position: absolute; top: 16px; left:210px; display: inline-block; font-size:16px;}
#lnb > ul > li > a span.nav_arrow i{ font-size:18px;}
#lnb > ul > li.on > a span.nav_arrow{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#lnb > ul > li.on > a {color:#fff; }
#lnb > ul > li.on > ul{display: block;}
/* #lnb > ul > li.on > ul > li.on {background:#2B3239 !important;} */
#lnb > ul > li.on > ul > li.on > a{color:#fff; 
	/* background:#2B3239; */
}
#lnb > ul > li ul {display: block; background: #2B3239;}

#lnb > ul > li.menu_open > a span.nav_arrow{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#lnb ul li:focus {outline:none !important; border:none !important;}
#lnb ul:focus {outline:none !important; border:none !important;}
#lnb:focus {outline:none !important; border:none !important;}
#lnb ul li > [tabindex]:focus {outline:none !important; border:none !important;}
#lnb ul > [tabindex]:focus {outline:none !important; border:none !important;}
#lnb > [tabindex]:focus {outline:none !important; border:none !important;}




/* lnb 수연과장님 */

#lnb {position: relative; position:relative;-webkit-transition:all .4s;transition:all .4s;}
#lnb ul {padding:0 0 70px;}
#lnb ul li{position: relative; color: #d6d6d6; display: block; padding:5px 0 0 0; }
#lnb ul li:last-child{padding:5px 0 10px 0;}
#lnb>ul>li.on{border-left:5px solid #0882D6 ;background: #242C37;}
#lnb>ul>li:hover{
	border-left:5px solid #0882D6;

}
#lnb > ul > li > a {display: block; padding:14px 20px 14px 20px; color:#d6d6d6;}

#lnb > ul > li > a i {font-size:24px }
#lnb > ul > li > a span.nav_txt { width:140px;position: absolute;left:64px;top:13px;display: block;font-size: 16px;text-decoration: none; }
#lnb > ul > li > a span.nav_arrow{ position: absolute; top: 16px; right:20px; display: inline-block; font-size:16px;}
#lnb > ul > li > a span.nav_arrow i{ font-size:18px;}
#lnb > ul > li.on > a span.nav_arrow{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#lnb > ul > li.on > a {  color: #fff; }
#lnb > ul > li ul {padding:0 0 0; display: none; background: #2C333B;}

/*3depth*/
#lnb > ul > li > ul > li > a {display: block;  color:#d6d6d6;  padding:14px 0 14px 60px; font-size:16px;}
#lnb > ul > li > ul > li > a:hover {color:#fff; }
#lnb > ul > li > ul > li > a {color: #d6d6d6;  }
#lnb > ul > li > ul > li.on a {color:#009CDF; }
#lnb > ul > li > ul > li.on ul li a{color: #d6d6d6;}
#lnb > ul > li > ul > li.on a span.nav_arrow_3d{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#lnb > ul > li > ul li ul {display: none; }
#lnb > ul > li > ul li ul li{padding: 0 0 14px 28px;}
#lnb > ul > li > ul li li a {display: block;padding:10px 0 0 0; color: #666; font-size: 15px;}
.on_menu{color:#009CDF!important;}


/*3depth*/
#lnb > ul > li > ul > li > a {display: block;  color:#B0B0B6;  padding:15px 0 15px 64px; font-size:14px;}
#lnb > ul > li > ul > li > a:hover {color:#fff; }
#lnb > ul > li > ul > li:hover {background-color:#242C37;}
#lnb > ul > li > ul > li.on ul li a{color: #d6d6d6;}
#lnb > ul > li > ul > li.on a span.nav_arrow_3d{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#lnb > ul > li > ul li ul {display: none; }
#lnb > ul > li > ul li ul li{padding: 0 0 14px 28px;}
#lnb > ul > li > ul li li a {display: block;padding:10px 0 0 0; color: #666; font-size: 15px;}
.on_menu{color:#6585FF!important;}

/*nav_menu*/
.nav_box{position: relative; height:100%; }
.menu {position:fixed; display:block; left:0; top:0; width:76px; transition:all 0.45s cubic-bezier(0.77, 0, 0.175, 1); background-color:#323237; }
.nav_icon {position: absolute; left:25px; top:15px; color:#6e768e; font-size:16px; transition: all 0.4s ease-in-out;}
.nav_txt{width:120px; position: absolute; left:54px; top:17px; display: block;  font-size:16px; text-decoration:none; transition: all 0.4s ease-in-out;}
.nav_arrow_3d{position: absolute; right:20px; top:0; display: block; text-decoration:none; }
.nav_arrow_3d i{font-size: 18px;}

.btn_menual{position:absolute; left:27px; bottom:25px; color:#fff; height: 50px;}
.btn_menual ul li a i{color:#d6d6d6; position:absolute; left:4px; bottom:17px; font-size:24px;}
.btn_menual ul li a .btn_menual_txt{width:120px; position:absolute; left:46px; bottom:20px; color:#d6d6d6; font-size:16px;}
.btn_menual ul li a:hover i{color:#fff;}
.btn_menual ul li a:hover .btn_menual_txt{color:#fff; width:120px; display: inline-block; }

/*nav_close*/
.closeNav .hd_logo_wrap{width:70px;}
.closeNav .ad_logo {position: absolute;left:20px;top: 22px;text-align: left;display: inline-block;  transition: all .4s ease-in-out;}
.closeNav .ad_text{position:absolute; left:56px; top:15px; opacity: 0; visibility: hidden; display: block; transition: all .4s ease-in-out;}
.closeNav .side_btn01{position:absolute; left:160px;}
.closeNav .hd_menu {transform: translate3d(-180px, 0, 0); transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);}
.closeNav .menu{position:fixed; display:block; left:0; top:70px; width:70px; transition: all .4s ease-in-out; background-color:#313942; z-index:999;}
.closeNav .nav_icon{width:20px; position:absolute; display:block; left:25px; top:15px; z-index:999;}
.closeNav .nav_txt{width:120px; opacity: 0; visibility: hidden; transition: all 0.1s ease-in-out;}
.closeNav .nav_arrow{opacity: 0; visibility: hidden;transition: all 0.1s ease-in-out;}
.closeNav .btn_menual ul li a i{width:20px; position:absolute; left:-3px; bottom: 17px; z-index:999; display:block; }
.closeNav .btn_menual ul li a .btn_menual_txt{opacity: 0; visibility: hidden; transition: all 0.1s ease-in-out;}
