@charset "utf-8";
/* CSS Document */

@font-face {
 font-family: 'NotoSansKR_Thin';
 font-style: normal;
  font-weight: 100;
 src:  url(../font/NotoSansKR-Thin.woff2) format('woff2'),
       url(../font/NotoSansKR-Thin.woff) format('woff'),
       url(../font/NotoSansKR-Thin.otf) format('opentype'),
       url(../font/NotoSansKR-Thin.eot) format('eot');
 }
 @font-face {
 font-family: 'NotoSansKR_Light';
 font-style: normal;
  font-weight: 500;
 src:  url(../font/NotoSansKR-Light.woff2) format('woff2'),
       url(../font/NotoSansKR-Light.woff) format('woff'),
       url(../font/NotoSansKR-Light.otf) format('opentype')
	   url(../font/NotoSansKR-Light.eot) format('eot');

 }
@font-face {
 font-family: 'NotoSansKR_Regular';
 font-style: normal;
  font-weight: 300;
 src:  url(../font/NotoSansKR-Regular.woff2) format('woff2'),
       url(../font/NotoSansKR-Regular.woff) format('woff'),
       url(../font/NotoSansKR-Regular.otf) format('opentype'),
	   url(../font/NotoSansKR-Regular.eot) format('eot');

 }
@font-face {
 font-family: 'NotoSansKR_Medium';
 font-style: normal;
  font-weight: 500;
 src:  url(../font/NotoSansKR-Medium.woff2) format('woff2'),
       url(../font/NotoSansKR-Medium.woff) format('woff'),
       url(../font/NotoSansKR-Medium.otf) format('opentype'),
	   url(../font/NotoSansKR-Medium.eot) format('eot');

 }

@font-face {
 font-family: 'NotoSansKR_Bold';
 font-style: normal;
  font-weight: 600;
 src:  url(../font/NotoSansKR-Bold.woff2) format('woff2'),
       url(../font/NotoSansKR-Bold.woff) format('woff'),
       url(../font/NotoSansKR-Bold.otf) format('opentype'),
	   url(../font/NotoSansKR-Bold.eot) format('eot');
 }
 @font-face {
 font-family: 'NotoSansKR_Black';
 font-style: normal;
 font-weight: 900;
 src:  url(../font/NotoSansKR-Black.woff2) format('woff2'),
       url(../font/NotoSansKR-Black.woff) format('woff'),
       url(../font/NotoSansKR-Black.otf) format('opentype'),
	   url(../font/NotoSansKR-Black.eot) format('eot');

 }