<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
			</div></div>
		</div>
		<!-- Content AREA : E -->
		<!-- Footer AREA : S --> 
		<div id="footer">
			<div class="footer_area">
		   		<div class="footer_con">COPYRIGHT ⓒ Yumi Korea Co.,Ltd. All rights reserved</div>
		 	</div>
		</div>
		<!-- Footer AREA : E --> 
		</div>
<!-- 		<div id="ajaxLoadingImage" style="display: none !important;" > -->
<!-- 			<div style="margin-top: 10%; z-index: 20010;"> -->
<!-- 				<img alt="" src="/resources/images/gif-load.gif" />'> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</body>
</html>