<!DOCTYPE html>
<!-- 
		HTML Info
		1. file path	: /templates/audit/adminAuditList.html
		2. project name	: yumi korea Admin
		3. description	: 감사로그 > Admin 감사로그 > 목록  
 -->
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<th:block th:include="common/layout/header"></th:block>
<!-- 프로그램별 script 추가 -->
<script type="text/javascript" th:src="@{/js/views/dbManagementJs.js}"></script>

<!-- Content : S -->
<div id="con_wrap" style="display: inline-block;width: 30%;">
	<div class="con_box_flex" style="min-width: auto;">
		<th:block th:include="db/dbList"></th:block>
	</div>
</div>
<div id="con_wrap" style="display: inline-block;width: 60%;">
	<div class="con_box_flex" style="min-width: auto;">
		<th:block th:include="db/dbMemo"></th:block>
	</div>
</div>
<!-- Content : E -->
<!--<th:block th:include="policy/policyRegistration"></th:block>-->
<!--<th:block th:include="policy/policyDetail"></th:block>-->
<th:block th:include="common/layout/footer"></th:block>
</html>